<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td style="font-size:5px;padding:0">
				<div style="min-height:5px"></div>
			</td>
			<td style="padding:0 15px;vertical-align:top" rowspan="2">
				<div style="min-height:75px;background-color:#585858;width:1px;overflow:hidden">&nbsp;</div>
			</td>
			<td style="font-size:5px;padding:0">
				<div style="min-height:5px"></div>
			</td>
			<td style="padding:0 15px;vertical-align:top" rowspan="2">
				<div style="min-height:75px;background-color:#585858;width:1px;overflow:hidden">&nbsp;</div>
			</td>
			<td style="font-size:5px;padding:0">
				<div style="min-height:5px"></div>
			</td>
			<td style="padding:0 15px;vertical-align:top" rowspan="2">
				<div style="min-height:75px;background-color:#585858;width:1px;overflow:hidden">&nbsp;</div>
			</td>
			<td style="font-size:5px;padding:0">
				<div style="min-height:5px"></div>
			</td>
			<td style="padding:0 15px;vertical-align:top" rowspan="2">
				<div style="min-height:75px;background-color:#585858;width:1px;overflow:hidden">&nbsp;</div>
			</td>
			<td style="font-size:5px;padding:0">
				<div style="min-height:5px"></div>
			</td>
		</tr>
		<tr>
			<td valign="top" align="left" style="color:#fff;font-size:10px;vertical-align:top">
				<p style="margin:0 0 12px">${_t('cap.contact-us')}</p>
				<div style="color:#585858;line-height:15px">								
					<a target="_blank" style="color:#585858;text-decoration:none" href="${_var('email-us')}">${_t('text.email-us')}</a><br />
					<a target="_blank" style="color:#585858;text-decoration:none" href="${_var('call-us')}">${_t('text.call-us')}</a><br />
				</div>
			</td>
			<td valign="top" align="left" style="color:#fff;font-size:10px;vertical-align:top">
				<p style="margin:0 0 12px">${_t('cap.customer-service')}</p>
				<div style="color:#585858;line-height:15px">
					<a target="_blank" style="color:#585858;text-decoration:none" href="${_var('delivery')}">${_t('text.delivery')}</a><br />
					<a target="_blank" style="color:#585858;text-decoration:none" href="${_var('payment')}">${_t('text.payment')}</a><br />
					<a target="_blank" style="color:#585858;text-decoration:none" href="${_var('returns')}">${_t('text.returns')}</a><br />		
					<a target="_blank" style="color:#585858;text-decoration:none" href="${_var('sizing')}">${_t('text.sizing')}</a><br />
					<a target="_blank" style="color:#585858;text-decoration:none" href="${_var('my-account')}">${_t('text.my-account')}</a><br />
				</div>
			</td>
			<td valign="top" align="left" style="color:#fff;font-size:10px;vertical-align:top">
				<p style="margin:0 0 12px">${_t('cap.about-dc-shoes')}</p>
				<div style="color:#585858;line-height:15px">
					<a target="_blank" style="color:#585858;text-decoration:none" href="http://www.quiksilverinc.com">${_t('text.corporate')}</a><br />
					<a target="_blank" style="color:#585858;text-decoration:none" href="http://tbe.taleo.net/NA2/ats/careers/jobSearch.jsp?org=QUIKSILVER&amp;cws=3">${_t('text.careers')}</a><br />
				</div>
			</td>
			<td valign="top" align="left" style="color:#fff;font-size:10px;vertical-align:top">
				<p style="margin:0 0 12px">${_t('cap.our-brands')}</p>
				<div style="color:#585858;line-height:15px">
					<a target="_blank" style="color:#585858;text-decoration:none" href="http://dcshoes.fr/">DCShoes.com</a><br />
					<a target="_blank" style="color:#585858;text-decoration:none" href="http://quiksilver.fr/">Quiksilver.com</a><br />
					<a target="_blank" style="color:#585858;text-decoration:none" href="http://roxy.fr/">Roxy.com</a><br />
					<a target="_blank" style="color:#585858;text-decoration:none" href="http://fr.moskova.com/">Moskova.com</a><br />
				</div>
			</td>
			<td valign="top" align="left" style="color:#fff;font-size:10px;vertical-align:top">
				<p style="margin:0 0 12px">${_t('cap.stay-connected')}</p>
				<div style="color:#585858;line-height:15px">
					<a target="_blank" style="color:#585858;text-decoration:none;margin-right:4px" title="DC on Facebook" href="http://facebook.com/dcshoes.europe"><img width="18" border="0" height="18" title="DC on Facebook" alt="FB" src="http://static.quiksilver-europe.com/www/nl/templates/dc/icon_fb.jpg" /></a>
					<a target="_blank" style="color:#585858;text-decoration:none;margin-right:4px" title="DC on Twitter" href="https://twitter.com/DCShoesEurope"><img width="18" border="0" height="18" title="DC on Twitter" alt="TW" src="http://static.quiksilver-europe.com/www/nl/templates/dc/icon_tw.jpg" /></a>
					<a target="_blank" style="color:#585858;text-decoration:none" title="DC on YouTube" href="http://youtube.com/dcshoesfilmeurope"><img width="18" border="0" height="18" title="DC on YouTube" alt="YT" src="http://static.quiksilver-europe.com/www/nl/templates/dc/icon_yt.jpg" /></a>
				</div>
			</td>
		</tr>
	</tbody>
</table>