<table width="100%" cellspacing="0" cellpadding="0" border="0" style="color:#fff">
	<tbody>
	   <tr>
		  <td align="left" style="color:#fff;padding-bottom:14px"><a target="_blank" href="${_var('homepage')}"><img width="56" height="46" alt="DC" src="http://static.quiksilver-europe.com/www/nl/templates/dc/header_logo.jpg" /></a></td>
		  <td align="right" style="font-size:11px"><span style="color:#c21f13">${_t('text.free-shipping')}</span> ${_t('text.all-orders')}</td>
	   </tr>
	</tbody>
 </table>